

@media (min-width: 576px) {
.page-editor__fragment-content .portlet:hover > .portlet-topper, .page-editor__fragment-content .portlet.focus > .portlet-topper {
    opacity: 0 !important;
    pointer-events: all;
    transform: translateY(300%);
}
}


/*
    margin top
*/
.m-top-1 {
    margin-top: 10px;
}

.m-top-2 {
    margin-top: 20px;
}

.m-top-3 {
    margin-top: 30px;
}

.m-top-msg {
    margin-top: 5px !important;    
}
/*
    margin bottom
*/
.m-bt-1 {
    margin-bottom: 10px;
}

.m-bt-2 {
    margin-bottom: 20px;
}

.m-bt-3 {
    margin-bottom: 30px;
}


.f_size {
    font-size: 9px;
}
.error-input-border {
    border-color: red;
}

.box-register {
    box-shadow: 0px 0px 6px 2px #80808030;
    padding: 20px 30px;
    height: 200px;
}
.box-register-banner {
    height: 200px;
}

.register .form-control {
	    border-radius: 50rem;
}

.register-title {
    padding: 20px 0px;
}


/*
Tiutlos y subtitulos
*/

.principal-title {
    font-size: 30px;
}

.secundary-title{
    font-size: 22px;
}
.third-title {
    font-size: 20px;
}

.color-ping-corferias {
    color: #FB1736;
}

/* 
    my account modal
*/
.div-displ-ccount{
    display: grid;
    grid-template-columns: 90% 10%;
    column-gap: 2rem;
}

.div-disp-account-one {
    display: block;
}

.div-displ-text-acc {
    display: inline-flex;
}

.text-fw {
    font-weight: 600;
}
.normal-text {
    color: #2A2A2A;
}

.contendor {
    display: flex;
    justify-content: space-between;
}
.input-address {
    flex: 0 0 calc(50% - .5rem);
}

.div-border-account {
    border: 1px solid #c6c6c6;
    padding: 28px;
    
}

.add-address-account {
    font-size: 20px;
    text-align: center;
}

.myaccount .form-select-lg {
    font-size: 1.1rem;
}

.myaccount select.form-control:focus, select.form-control.focus,
.myaccount select.form-control {
    background-image: none !important;
    height: auto;
}

.myaccountinput .form-control {
    padding: 1.4rem .75rem !important;    
}




/* 
    Botones 
*/
.account .btn-close {
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    background-color: #707070;
    border: #707070;
}

.btn-red {
    background-color: rgb(251, 23, 54);
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: rgb(251, 23, 54);
}

.btn-red-opacity {
    opacity: 50%;
}


.nomb-ape {
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 768px){
    .nomb-ape {
        display: block;
    }
}


.label-nom-ape {
    width: 100%;
}

.text-w-100 {
    width: 100%;
}

.font-w {
    font-weight: 700;
}

.float-right {
    float: right;
}

.nom-ape-w {
	width: 100%;
}
.text-color-red {
    color: rgb(251, 23, 54);
}
.text-color-white {
    color: #FFF;
    font-size: 18px;
}

@media (max-width: 768px){
    .btn-red {
         width: 100%;
    }
}

.captcha {
    padding: 14px 0 14px 0;
    width: 50%;
}

@media (max-width: 768px){
    .captcha {
        width: 100%;
    }
}

.btncor {
    display: inline-block;
}

@media (max-width: 768px){
    .btncor {
        display: flex;
    }
}

/* 
    Mensajes de error
*/
.name-selector {
    background-color: transparent;
    color: rgb(251, 23, 54);
}

.ape-selector {
    background-color: transparent;
    color: rgb(251, 23, 54);
}
.mail-selector {
    background-color: transparent;
    color: rgb(251, 23, 54);
}

.pass-selector{
    background-color: transparent;
    color: rgb(251, 23, 54);    
}

.pass-selector-two{
    background-color: transparent;
    color: rgb(251, 23, 54);    
}
