.contenedor-pass {
    display: grid;
}
.text-color-red {
    color: rgb(251, 23, 54);
}

.text-fw {
    font-weight: 600;
}
.font-w {
    font-weight: 700;
}

.personal-information-title {
    padding: 20px 0px;
}
.box-personal-information {
    display: flex;
    box-shadow: 0px 0px 6px 2px #80808030;
    padding: 20px 30px;
}
.personal-data {
    display: flex;
}
@media (max-width: 768px){
    .personal-data {
        display: block;
    }
}
.text-personal-data {
    padding-right: 16px;
}
.data {
    flex-basis: calc(95% - 1rem);
}
.edit-data {
    flex-basis: calc(5% - 1rem);    
}

.modal-data {
    display: block;
}

.btn-red {
    background-color: rgb(251, 23, 54);
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: rgb(251, 23, 54);
}
.text-color-white {
    color: #FFF;
    font-size: 18px;
}
.add-dir {
    width: 100%;
}
.signe-more {
    font-size: 30px;
}
.text-center {
    text-align: center;    
}
.btn-gray {
    background-color: #707070;
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: #707070;    
}
.modal-btn {
    flex: 0 0 calc(50% - 1rem);
    text-align: center;
}
.personalinformation .form-control {
    border-radius: 50rem;
}
.personalinformation .modal-header {
    border-color: #e7e7ed05;
    padding: 0 1rem;
    height: 2rem;
    margin: 4px;
}
.personalinformation .modal-body {
    padding: 1rem 2rem;
}
.personalinformation .modal-dialog {
    margin: 7rem auto;
}
.section-dir {
    display: grid;
    grid-template-columns: 1fr;
}
.section-dir-two {
    width: 50%;
}
.seccion-pass {
    width: 50%;
}
.change-passw {
    justify-content: space-between;
    flex: 0 0 calc(50% - 0rem);
}
.change-pass-text-rigth {
    text-align: right;
}

.seccion-pass .personal-information-title {
    padding: 4px 0px
}
.seccion-pass .box-personal-information {
    padding: 6px 30px;
    align-items: center;
}
.btn-change-pass {
    background-color: #fff;
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: #fff;
    color: #fb1736;
}