.contenedor-pass {
    display: grid;
}
.text-color-red {
    color: rgb(251, 23, 54);
}

.text-fw {
    font-weight: 600;
}
.font-w {
    font-weight: 700;
}

.personal-information-title {
    padding: 20px 0px;
}
.box-personal-information {
    display: flex;
    box-shadow: 0px 0px 6px 2px #80808030;
    padding: 20px 30px;
}
.personal-data {
    display: flex;
}
@media (max-width: 768px){
    .personal-data {
        display: block;
    }
}
.text-personal-data {
    padding-right: 16px;
}
.data {
    flex-basis: calc(95% - 1rem);
}
.edit-data {
    display: flex;
    flex-basis: calc(8% - 1rem);
    justify-content: end;    
}

.modal-data {
    display: block;
}

.btn-red {
    background-color: rgb(251, 23, 54);
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: rgb(251, 23, 54);
}
@media (max-width: 768px){
    .btn-red {
        width: 14rem;  
    }
}
.text-color-white {
    color: #FFF;
    font-size: 18px;
}
.add-dir {
    width: 100%;
}
.signe-more {
    font-size: 30px;
}
.text-center {
    text-align: center;    
}
.btn-gray {
    background-color: #707070;
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: #707070;    
}
@media (max-width: 768px){
    .btn-gray {
        width: 14rem;  
    }    
}

.modal-btn {
    flex: 0 0 calc(50% - 1rem);
    text-align: center;
}
.personalinformation .form-control {
    border-radius: 50rem;
}
.personalinformation .modal-header {
    border-color: #e7e7ed05;
    padding: 0 1rem;
    height: 2rem;
    margin: 4px;
}
.personalinformation .modal-body {
    padding: 1rem 2rem;
}
.personalinformation .modal-dialog {
    margin: 7rem auto;
}
.section-dir {
    display: grid;
    grid-template-columns: 1fr;
}
.section-dir-two {
    width: 50%;
}
.seccion-pass {
    width: 50%;
}
.change-passw {
    justify-content: space-between;
    flex: 0 0 calc(50% - 0rem);
}
.change-pass-text-rigth {
    text-align: right;
}

.seccion-pass .personal-information-title {
    padding: 4px 0px
}
.seccion-pass .box-personal-information {
    padding: 6px 30px;
    align-items: center;
}
.btn-change-pass {
    background-color: #fff;
    border-radius: 50rem;
    width: 10rem;
    padding: .5rem;
    border: #fff;
    color: #fb1736;
}

.advertising-banner {
    display: block;
}
.advertising-banner-img {
    display: block;
    height: 200px;
}

.advertising-banner img {
    width: 100%;
    height: 200px;
}

.editar {
    display: block;
    text-align: center;
}

.btn-red-opacity {
    opacity: 50%;
}

/* ADDADDRESS */

.addaddress .form-control {
    border-radius: 50rem;
}
.form-select-round {
    border-radius: 50rem;
}
.divbtn {
    display:flex;
    justify-content: left;
    gap: 1rem;
}

@media (max-width: 768px){
    .divbtn {
        display: block;
        margin: 2rem;
    }
}

.addaddress .modal-btn {
    flex: 0 0 calc(12% - 1rem);
    text-align: left;
}
@media (max-width: 768px){
    .addaddress .modal-btn {
        display: block;
        text-align: center;
        padding: 12px;
    }    
}


.addaddress .form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2a2a2a;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-color: #f1f2f5;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #e7e7ed;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.addaddress .form-select:focus-visible {
    border: 1px solid #e7e7ed;
 }

 .addaddress label {
     font-weight: 100;
     color: #2a2a2a;
 }
 .label-nom-ape {
    width: 100%;
}